In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
import statistics as stat
import warnings
warnings.filterwarnings('ignore')

In [2]:
df_sharktank=pd.read_excel('EDA_Shark_Tank_India.xlsx')

In [3]:
df_sharktank.head()

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
0,1,1,BluePine Industries,Frozen Momos,1,50.0,5.0,1000.00,75.0,16.00,...,1,0,1,0,1,0,0,3,25.0,5.333333
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,1,40.0,15.0,266.67,40.0,50.00,...,1,0,0,0,1,0,0,2,20.0,25.000000
2,1,3,Heart up my Sleeves,Detachable Sleeves,1,25.0,10.0,250.00,25.0,30.00,...,0,1,0,0,1,0,0,2,12.5,15.000000
3,2,4,Tagz Foods,Healthy Potato Chips,1,70.0,1.0,7000.00,70.0,2.75,...,1,0,0,0,0,0,0,1,70.0,2.750000
4,2,5,Head and Heart,Brain Development Course,0,50.0,5.0,1000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000

In [4]:
df_sharktank.shape

(117, 28)

In [5]:
#Q1. Find the number of episodes?

num_episodes = df_sharktank['episode_number'].nunique()
print(f"Number of episodes: {num_episodes}")

Number of episodes: 35

In [6]:
#Q2. Max, min , mean of asked amount,asked equity, asked valuation? 

asked_amount_stats = df_sharktank['pitcher_ask_amount'].agg(['max', 'min', 'mean'])
asked_equity_stats = df_sharktank['ask_equity'].agg(['max', 'min', 'mean'])
asked_valuation_stats = df_sharktank['ask_valuation'].agg(['max', 'min', 'mean'])

print("Asked Amount Stats:\n", asked_amount_stats)

print("Asked Equity Stats:\n", asked_equity_stats)

print("Asked Valuation Stats:\n", asked_valuation_stats)

Asked Amount Stats:
 max     30000.000000
min         0.001010
mean      319.854709
Name: pitcher_ask_amount, dtype: float64
Asked Equity Stats:
 max     25.000000
min      0.250000
mean     5.188034
Name: ask_equity, dtype: float64
Asked Valuation Stats:
 max     120000.000000
min          0.010000
mean      3852.462479
Name: ask_valuation, dtype: float64

In [7]:
#Q3. Max & Min asked- equity,asked-valuation and asked amount episode-wise? 

episode_stats = df_sharktank.groupby('episode_number').agg({
    'pitcher_ask_amount': ['max', 'min'],
    'ask_equity': ['max', 'min'],
    'ask_valuation': ['max', 'min']
})
episode_stats

               pitcher_ask_amount           ask_equity       ask_valuation  \
                              max       min        max   min           max
episode_number
1                            50.0  25.00000       15.0  5.00       1000.00
2                            70.0  50.00000        5.0  1.00       7000.00
3                           100.0  50.00000        4.0  0.25      40000.00
4                            75.0  50.00000       10.0  4.00       1875.00
5                           100.0  10.00000       20.0  1.00      10000.00
6                           100.0  45.00000       10.0  1.00      10000.00
7                           100.0  50.00000        7.5  1.00       7500.00
8                            56.0  30.00000        7.5  2.50       2000.00
9                           100.0  50.00000        5.0  2.50       2000.00
10                           30.0  25.00000        5.0  2.00       1500.00
11                        30000.0  30.00000       25.0  5.00     120000.00
12                           75.0  40.00000        5.0  3.00       1875.00
13                           50.0  30.00000       10.0  2.00       2500.00
14                          100.0  45.00000        5.0  3.00       3333.33
15                           50.0   5.00000        5.0  3.00       1250.00
16                           80.0  45.00000        7.0  2.00       2250.00
17                          150.0  50.00000       10.0  3.00       5000.00
18                          100.0  50.00000        4.0  1.00      10000.00
19                          125.0  15.00000        8.0  1.25      10000.00
20                           65.0  35.00000        5.0  2.00       3250.00
21                          100.0  35.00000       10.0  5.00       1250.00
22                           80.0  50.00000        5.0  2.00       3000.00
23                          100.0  30.00000        5.0  1.00      10000.00
24                           40.0  20.00000       10.0  8.00        500.00
25                          150.0  50.00000        4.0  2.00       7500.00
26                           65.0  50.00000       10.0  1.00       6500.00
27                          100.0   0.00101       10.0  1.00      10000.00
28                           90.0  50.00000        5.0  4.00       1875.00
29                          100.0  75.00000        5.0  3.00       2857.14
30                          300.0  50.00000       15.0  1.00      30000.00
31                           75.0  50.00000       10.0  2.00       3750.00
32                          200.0  35.00000        7.0  1.00       5000.00
33                           40.0  35.00000       10.0  1.00       3500.00
34                          100.0  30.00000       10.0  1.00      10000.00
35                          100.0  40.00000        8.0  2.50       4000.00


                    min
episode_number
1                250.00
2               1000.00
3               1875.00
4                500.00
5                 50.00
6                500.00
7                666.67
8                746.67
9               1000.00
10               500.00
11               300.00
12               800.00
13               500.00
14               900.00
15               100.00
16              1071.43
17               500.00
18              1250.00
19               300.00
20               700.00
21               470.00
22              1500.00
23               600.00
24               200.00
25              1250.00
26               500.00
27                 0.01
28              1000.00
29              1500.00
30               500.00
31               500.00
32               583.33
33               400.00
34               400.00
35               500.00

In [8]:
#Q4. Brand names in which 2 ,3 or 4 sharks are invested? 

brands_with_sharks = df_sharktank[df_sharktank['total_sharks_invested'].isin([2, 3, 4])]['brand_name'].unique()

brands_with_sharks

array(['BluePine Industries', 'Booz scooters', 'Heart up my Sleeves',
       'Cosiq', 'Bummer', 'Revamp Moto', 'Raising Superstars',
       'Beyond Snack', 'Vivalyf Innovations- Easy Life', 'Altor', 'Ariro',
       'Nuutjob', 'Meatyour', 'EventBeep', 'Farda', 'LOKA', 'Annie',
       'Caragreen', 'The Yarn Bazaar', 'The Renal Project', 'Cocofit',
       'Bamboo India', 'Beyond Water', "Let's Try", 'Aas Vidyalaya',
       'WeSTOCK', 'Get a Whey', 'The Quirky Nari', 'Hair Originals',
       'The Sass Bar', 'Watt Technovations', 'Humpy A2',
       'Gold Safe Solutions Ind.', 'Wakao Foods', 'Kabaddi Adda',
       'Tweek Labs', 'Proxgy', 'Nomad Food Project', 'Jain Shikanji'],
      dtype=object)

In [9]:
#Q5. Episode wise minimum and maximum of sharks invested? 

episode_sharks_stats = df_sharktank.groupby('episode_number')['total_sharks_invested'].agg(['min', 'max'])

episode_sharks_stats

                min  max
episode_number
1                 2    3
2                 0    1
3                 0    1
4                 0    2
5                 0    2
6                 0    5
7                 0    2
8                 1    2
9                 0    2
10                3    3
11                0    2
12                0    3
13                2    4
14                0    2
15                1    3
16                0    2
17                0    5
18                0    1
19                0    4
20                0    5
21                1    3
22                0    3
23                0    1
24                0    2
25                0    5
26                0    1
27                0    4
28                0    3
29                0    3
30                0    2
31                0    1
32                0    1
33                0    3
34                0    4
35                0    4

In [10]:
#Q7. Brand names who ask for 1 crore and got a deal? 

df_sharktank[(df_sharktank['pitcher_ask_amount'] == 100) & (df_sharktank['deal'] == 1)]['brand_name'].unique()

array(['Revamp Moto', 'The Renal Project', 'Otua', 'Get a Whey',
       'Namhya Foods', 'Sunfox Technologies', 'Insurance Samadhan'],
      dtype=object)

In [11]:
#Q8. Brand names where deal equity is between 0 to 50? 

df_sharktank[(df_sharktank['deal_equity'] >= 0) & (df_sharktank['deal_equity'] <= 50)]['brand_name'].unique()

array(['BluePine Industries', 'Booz scooters', 'Heart up my Sleeves',
       'Tagz Foods', 'Head and Heart', 'Agro tourism', 'Qzense Labs',
       'Peeschute', 'NOCD', 'Cosiq', 'JhaJi Achaar', 'Bummer',
       'Revamp Moto', 'Hungry Heads', 'Shrawani Engineers', 'Skippi Pops',
       'Menstrupedia', 'Hecolll', 'Raising Superstars', 'Torch-it',
       'La Kheer Deli', 'Beyond Snack', 'Vivalyf Innovations- Easy Life',
       'Motion Breeze', 'Altor', 'Ariro', 'Kabira Handmade', 'Nuutjob',
       'Meatyour', 'EventBeep', "Gopal's 56", 'ARRCOAT Surface Textures',
       'Farda', 'Auli Lifestyle', 'SweeDesi', 'LOKA', 'Annie',
       'Caragreen', 'The Yarn Bazaar', 'The Renal Project',
       'Morikko Pure Foods', 'Good Good Piggy Bank', 'Hammer Lifestyle',
       'PNT', 'Cocofit', 'Bamboo India', 'Flying Furr', 'Beyond Water',
       "Let's Try", 'Find Your Kicks India', 'Aas Vidyalaya', 'Outbox',
       'RoadBounce', "Mommy's Kitchen", 'India Hemp and Co', 'Otua',
       'Anthyesti', 'Ethik', 'WeSTOCK', 'KetoIndia', 'Magic lock',
       'The State Plate', 'Bakarmax', 'IN A CAN', 'Get a Whey',
       'The Quirky Nari', 'Hair Originals', 'Poo de Cologne',
       'Moonshine Meads', 'Falhari', 'Namhya Foods', 'Urban Monkey',
       'Guardian Gears', 'Modern Myth', 'The Sass Bar', 'KG Agrotech',
       'Nuskha Kitchen', 'PawsIndia', 'Sunfox Technologies', 'Alpino',
       'Isak Fragrances', 'Julaa Automation', 'Rare Planet',
       'Theka Coffee', 'Watt Technovations', 'Aliste Technologies',
       'Insurance Samadhan', 'Humpy A2', 'Kunafa World',
       'Gold Safe Solutions Ind.', 'Wakao Foods', 'PDD Falcon',
       'PlayBox TV', 'Sippline Drinking Shields', 'Kabaddi Adda',
       'Shades of Spring', 'Scholify', 'Scrapshala', 'Sabjikothi',
       'AyuRythm', 'Astrix', 'Thea and Sid', 'Experential Etc',
       'GrowFitter', 'Med Tech', 'Colour Me Mad', "Mavi's", 'Tweek Labs',
       'Proxgy', 'Nomad Food Project', 'Twee in One', 'Green Protein',
       'On2Cook', 'Jain Shikanji', 'Woloo', 'Elcare India'], dtype=object)

In [12]:
#Q9. Find the number of brands participated in each episode? 

df_sharktank.groupby('episode_number')['brand_name'].nunique()

episode_number
1     3
2     3
3     3
4     3
5     3
6     3
7     3
8     3
9     3
10    3
11    3
12    3
13    3
14    3
15    3
16    4
17    4
18    4
19    4
20    3
21    3
22    4
23    4
24    3
25    3
26    3
27    4
28    3
29    3
30    4
31    4
32    4
33    4
34    4
35    3
Name: brand_name, dtype: int64

In [13]:
#Q10. How many sharks participated in this show and What were their names? 

shark_columns = ['ashneer_deal', 'anupam_deal', 'aman_deal', 'namita_deal', 'vineeta_deal', 'peyush_deal', 'ghazal_deal']
num_sharks = len(shark_columns)

# Extract and capitalize shark names
shark_names = [shark.split('_')[0].capitalize() for shark in shark_columns]

print(f"Number of sharks: {num_sharks}")
print("Names of sharks:", ", ".join(shark_names))

Number of sharks: 7
Names of sharks: Ashneer, Anupam, Aman, Namita, Vineeta, Peyush, Ghazal

In [14]:
#Q11. Find appearance of each sharks? 
# Define shark columns
shark_columns = ['ashneer_deal', 'anupam_deal', 'aman_deal', 'namita_deal', 'vineeta_deal', 'peyush_deal', 'ghazal_deal']

shark_appearance_df = df_sharktank[shark_columns].apply(pd.Series.value_counts).fillna(0)
shark_appearances = shark_appearance_df.loc[1]
shark_appearances

ashneer_deal    21
anupam_deal     24
aman_deal       28
namita_deal     22
vineeta_deal    15
peyush_deal     27
ghazal_deal      7
Name: 1, dtype: int64

In [15]:
#Q12. How many entrepreneurs were present? 
num_entrepreneurs = df_sharktank['brand_name'].nunique()
print(f"Number of entrepreneurs: {num_entrepreneurs}")

Number of entrepreneurs: 117

In [16]:
#Q13. How many times each shark invested the deal? 
shark_investments_count = df_sharktank[df_sharktank['deal'] == 1][shark_columns].apply(pd.Series.value_counts).loc[1]
shark_investments_count = shark_investments_count.astype(int).to_dict()
print("Each shark investment count:", shark_investments_count)

Each shark investment count: {'ashneer_deal': 20, 'anupam_deal': 24, 'aman_deal': 27, 'namita_deal': 22, 'vineeta_deal': 15, 'peyush_deal': 27, 'ghazal_deal': 7}

In [17]:
#Q14. Find the equity percent that each sharks gets? 
# Filter the DataFrame for deals that were made (deal == 1)
deals_made = df_sharktank[df_sharktank['deal'] == 1]

# Initialize a dictionary to store equity shares for each shark
shark_total_equity = {}

# Iterate over shark columns
for shark in shark_columns:
    # Calculate total equity for each shark
    shark_name = shark.split('_')[0].capitalize()  # Extract shark name from column
    total_equity = deals_made[deals_made[shark] == 1]['equity_per_shark'].sum()
    shark_total_equity[shark_name] = total_equity

print("Total equity for each shark:")
print(shark_total_equity)

Total equity for each shark:
{'Ashneer': 91.249999999, 'Anupam': 166.35, 'Aman': 158.263333334, 'Namita': 134.78333333400002, 'Vineeta': 131.533333333, 'Peyush': 315.84999999999997, 'Ghazal': 46.7}

In [18]:
#Q15. Find the total number of amount invested in this show?

df_sharktank['amount_per_shark'].sum()

2121.5002691930003